.project-topic-button {
  font-family: "Roboto";
  font-size: 1.1rem;
  height: 4rem;
  background: none;
  border: solid 0.063rem #021e73;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  @extend .project-topic-button;

  & img {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: #f95252;

    & span {
      display: none;
    }

    & img {
      display: initial;
      animation: fade-in 0.5s;
    }
  }
}

.project-topic-button--suggested {
  @extend .project-topic-button;

  &:hover,
  &:focus {
    background-color: #78f585;
  }
}
