.project-information-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;

  img {
    height: 3.5rem;
  }
}

.project-information {
  &__title {
    font-family: "Josefin Sans";
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0.8rem 0 0 0;
  }

  &__subtitle {
    font-family: "Josefin Sans";
    font-size: 2.5rem;
    font-weight: 400;
    margin: 4rem 0 2rem 0;
  }

  &__description {
    font-size: 1.5rem;
  }

  &__tip-dark-blue {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 2rem;
    border: 1px solid #030a8c;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  &__tip-light-blue {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 2rem;
    border: 1px solid #459dbf;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
}
