<div class="project-information-container">
  <img src="Square.svg" />
  <div class="project-information">
    <h2 class="project-information__title">Portfolio Website</h2>
    <h3 class="project-information__subtitle">Description</h3>
    <p class="project-information__description">
      Build a simple portfolio website showcasing three sections: a landing
      page, a "Projects" section with cards displaying brief details, and a
      "Contact" section with a contact form. Use React for structure, Sass for
      styling, and ensure it is fully responsive.
    </p>
    <h3 class="project-information__subtitle">Tips</h3>
    <div>
      <div class="project-information__tip-dark-blue">
        Use React components for each section (e.g., ‹LandingPage />, ‹Projects
        />, ‹Contact/>).
      </div>
      <div class="project-information__tip-light-blue">
        Leverage Sass features like variables and mixins to create a cohesive
        design.
      </div>
      <div class="project-information__tip-dark-blue">
        Focus on responsive design using media queries in Sass for different
        screen sizes.
      </div>
      <div class="project-information__tip-light-blue">
        Use Flexbox or CSS Grid for layout.
      </div>
      <div class="project-information__tip-dark-blue">
        Deploy your website using GitHub Pages or Vercel.
      </div>
    </div>
  </div>
</div>
