.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #021e73;
  height: 15rem;

  &__author {
    color: white;
    font-family: "Josefin Sans";
    font-weight: 300;
    margin: 0;
  }
}

@media only screen and (max-width: 57.8rem) {
  .footer {
    height: 7.5rem;
    &__author {
      font-size: 1.2rem;
    }
  }
}
