<div class="modal-container">
  <div class="clickable-background" (click)="closeModal()"></div>
  <div class="modal">
    <div class="modal__header">
      <span>{{ header() }}</span>
      <button class="invisible-button" (click)="closeModal()">
        <img src="close.svg" class="error-model__header__close" />
      </button>
    </div>
    <div class="modal__body">{{ body() }}</div>
    <div class="modal__footer">
      <button class="modal__footer__button" (click)="closeModal()">
        {{ buttonText() }}
      </button>
    </div>
  </div>
</div>
