<div
  *ngIf="this.projectService.generatedProject"
  class="project-information-container"
>
  <img src="Square.svg" />
  <div class="project-information">
    <h2 class="project-information__title">
      {{ this.projectService.generatedProject.title }}
    </h2>
    <h3 class="project-information__subtitle">Description</h3>
    <p class="project-information__description">
      {{ this.projectService.generatedProject.description }}
    </p>
    <h3 class="project-information__subtitle">Tips</h3>

    <div
      *ngFor="let tip of this.projectService.generatedProject.tips; index as i"
      [ngClass]="{
        'project-information__tip-dark-blue': i % 2 == 0,
        'project-information__tip-light-blue': i % 2 == 1
      }"
    >
      {{ tip }}
    </div>
  </div>
</div>
