.topic-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 10rem;
}

.topic-menu-container {
  display: flex;
  gap: 1.5rem;

  &__buttons {
    display: flex;
    gap: 1.5rem;
    width: 53.625rem;
    flex-wrap: wrap;
  }

  &__topic {
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    padding-top: 0.35rem;
    background: none;
    border: solid 1px #021e73;
    width: 16.875rem;
    height: 4.05rem;
    text-align: center;
  }

  &__dropdown {
    @extend .topic-menu-container__topic;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__dropdown-menu {
    background-color: white;
    border: solid 1px #021e73;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.9rem;
  }
}

.user-topic-submission-container {
  display: flex;
  width: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__input {
    font-family: "IBM Plex Mono";
    font-size: 2rem;
    border: solid 1px #021e73;
    height: 5.625rem;
    width: 61.75rem;
    padding-left: 2rem;
  }
  &__button {
    font-family: "Josefin Sans";
    font-size: 2rem;
    color: white;
    border: none;
    text-align: center;
    width: 8rem;
    background-color: #021e73;
    cursor: pointer;
  }
}

.chosen-difficulty {
  @extend .topic-menu-container__dropdown;
}

.difficulty-option {
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  height: 4.05rem;
  width: 14.975rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficulty-easy {
  background-color: #78f585;
  border: none;
}

.difficulty-medium {
  background-color: #f29f05;
  border: none;
}

.difficulty-hard {
  background-color: #f95252;
  border: none;
}

.submit-button {
  font-family: "Josefin Sans";
  font-size: 2rem;
  color: white;
  border: none;
  text-align: center;
  height: 5rem;
  width: 30rem;
  border-radius: 1.5rem;
  background-color: #021e73;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
