<div *ngIf="showErrorModal" class="error-modal-container">
  <div class="clickable-background" (click)="showErrorModal = false"></div>
  <div class="error-modal">
    <div class="error-modal__header">
      <span>⚠️ Error</span>
      <button class="invisible-button" (click)="showErrorModal = false">
        <img src="close.svg" class="error-model__header__close" />
      </button>
    </div>
    <div class="error-modal__body">You didn’t enter a topic and difficulty</div>
    <div class="error-modal__footer">
      <button (click)="showErrorModal = false">Okay</button>
    </div>
  </div>
</div>

<div class="topic-selector-container">
  <div class="topic-menu-container">
    <div *ngIf="projectTopics.size === 0">
      <p>Suggested Topics:</p>
      <div class="topic-menu-container">
        <button
          *ngFor="let projectTopic of defaultProjectTopics"
          class="topic-menu-container__default-topic"
          (click)="addProjectTopic(projectTopic)"
        >
          <span>{{ projectTopic }}</span>
          <img src="add box.svg" class="icon" />
        </button>
      </div>
    </div>

    <div *ngIf="projectTopics.size !== 0" class="topic-menu-container">
      <button
        *ngFor="let projectTopic of projectTopics"
        class="topic-menu-container__topic"
        (click)="removeProjectTopic(projectTopic)"
      >
        <span>{{ projectTopic }}</span>
        <img src="trashcan.svg" class="icon" />
      </button>
    </div>
  </div>

  <div class="user-topic-submission-container">
    <input
      id="project-topic-input"
      class="user-topic-submission-container__input"
      type="text"
      placeholder="Type project topic here!"
      (keydown.enter)="addProjectTopic()"
    />
    <button
      class="user-topic-submission-container__button"
      (click)="addProjectTopic()"
    >
      Enter
    </button>
  </div>

  <div *ngIf="difficultyLevel === ''">
    <button
      class="topic-menu-container__dropdown"
      (click)="toggleDropdownMenu()"
      (keydown.arrowup)="
        focusOnDifficultyLevelButton($event, 'difficulty-option-hard__button')
      "
      (keydown.arrowdown)="
        focusOnDifficultyLevelButton($event, 'difficulty-option-easy__button')
      "
    >
      Difficulty level
      <img
        [src]="
          isDropdownMenuShown ? 'circle arrow up.svg' : 'circle arrow down.svg'
        "
        class="icon"
      />
    </button>
    <div
      *ngIf="isDropdownMenuShown"
      class="topic-menu-container__dropdown-menu"
    >
      <button
        id="difficulty-option-easy__button"
        class="difficulty-option difficulty-easy"
        (click)="setDifficultyLevel(DifficultyLevel.Easy)"
        (keydown.arrowup)="
          focusOnDifficultyLevelButton($event, 'difficulty-option-hard__button')
        "
        (keydown.arrowdown)="
          focusOnDifficultyLevelButton(
            $event,
            'difficulty-option-medium__button'
          )
        "
      >
        Easy
      </button>
      <button
        id="difficulty-option-medium__button"
        class="difficulty-option difficulty-medium"
        (click)="setDifficultyLevel(DifficultyLevel.Medium)"
        (keydown.arrowup)="
          focusOnDifficultyLevelButton($event, 'difficulty-option-easy__button')
        "
        (keydown.arrowdown)="
          focusOnDifficultyLevelButton($event, 'difficulty-option-hard__button')
        "
      >
        Medium
      </button>
      <button
        id="difficulty-option-hard__button"
        class="difficulty-option difficulty-hard"
        (click)="setDifficultyLevel(DifficultyLevel.Hard)"
        (keydown.arrowup)="
          focusOnDifficultyLevelButton(
            $event,
            'difficulty-option-medium__button'
          )
        "
        (keydown.arrowdown)="
          focusOnDifficultyLevelButton($event, 'difficulty-option-easy__button')
        "
      >
        Hard
      </button>
    </div>
  </div>
  <button
    *ngIf="difficultyLevel !== ''"
    class="chosen-difficulty"
    [ngClass]="{
      'difficulty-easy': difficultyLevel === 'Easy',
      'difficulty-medium': difficultyLevel === 'Medium',
      'difficulty-hard': difficultyLevel === 'Hard'
    }"
    (click)="setDifficultyLevel(DifficultyLevel.Undefined)"
  >
    <span>{{ difficultyLevel }}</span>
    <img src="undo.svg" class="icon" />
  </button>

  <button
    *ngIf="!this.projectService.generatingProject"
    class="submit-button"
    (click)="onSubmitToggle()"
  >
    Submit
  </button>
  <button *ngIf="this.projectService.generatingProject" class="submit-button">
    <div class="loader"></div>
  </button>
</div>
