.topic-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 10rem;
}

.topic-menu-container {
  display: flex;
  gap: 1.5rem;
  display: flex;
  width: 72rem;
  gap: 1.5rem;
  flex-wrap: wrap;

  &__topic {
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    padding-top: 0.35rem;
    background: none;
    border: solid 1px #021e73;
    width: 16.875rem;
    height: 4.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & img {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: #f95252;

      & span {
        display: none;
      }

      & img {
        display: initial;
        animation: fade-in 0.5s;
      }
    }
  }

  &__default-topic {
    @extend .topic-menu-container__topic;

    &:hover,
    &:focus {
      background-color: #78f585;
    }
  }

  &__dropdown {
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    padding-top: 0.35rem;
    background: none;
    border: solid 1px #021e73;
    width: 16.875rem;
    height: 4.05rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
      display: initial;
    }
  }

  &__dropdown-menu {
    background-color: white;
    border: solid 1px #021e73;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 16.75rem;
    padding: 1rem 0 1rem 0;
  }
}

.user-topic-submission-container {
  display: flex;
  width: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__input {
    font-family: "IBM Plex Mono";
    font-size: 2rem;
    border: solid 1px #021e73;
    height: 5.625rem;
    width: 61.75rem;
    padding-left: 2rem;
  }
  &__button {
    font-family: "Josefin Sans";
    font-size: 2rem;
    color: white;
    border: none;
    text-align: center;
    width: 8rem;
    background-color: #021e73;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #042a9c;
    }
  }
}

.chosen-difficulty {
  @extend .topic-menu-container__dropdown;

  & img {
    display: none;
  }

  &:hover {
    & img {
      display: initial;
      animation: spin 0.5s;
    }

    & span {
      display: none;
    }
  }
}

.difficulty-option {
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  height: 4.05rem;
  width: 14.975rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.difficulty-easy {
  background-color: #78f585;
  border: none;
}

.difficulty-medium {
  background-color: #f29f05;
  border: none;
}

.difficulty-hard {
  background-color: #f95252;
  border: none;
}

.submit-button {
  font-family: "Josefin Sans";
  font-size: 2rem;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 30rem;
  border-radius: 1.5rem;
  background-color: #021e73;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #042a9c;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
