<app-modal
  *ngIf="showErrorModal"
  [header]="'⚠️ Error'"
  [body]="'You didn’t enter a topic and difficulty'"
  [buttonText]="'Okay'"
  (modalClosed)="showErrorModal = false"
/>

<div class="topic-selector-container">
  <div
    *ngIf="projectService.projectTopics.size === 0"
    class="topic-selector-container__suggested"
  >
    <p>Suggested Topics:</p>
    <div class="topic-menu-container--suggested">
      <app-project-topic-button
        *ngFor="let projectTopic of projectService.defaultProjectTopics"
        [projectTopic]="projectTopic"
        [suggestedTopic]="true"
        class="project-topic"
      />
    </div>
  </div>

  <div
    *ngIf="projectService.projectTopics.size !== 0"
    class="topic-menu-container"
  >
    <app-project-topic-button
      *ngFor="let projectTopic of projectService.projectTopics"
      [projectTopic]="projectTopic"
      class="project-topic"
    />
  </div>

  <app-project-topic-input-bar
    class="project-topic-input-bar"
    (inputProjectTopic)="projectService.addProjectTopic($event)"
  />

  <app-difficulty-dropdown-menu />

  <button class="submit-button" (click)="onSubmitToggle()">
    <span *ngIf="!this.projectService.isProjectGenerating">Submit</span>
    <div *ngIf="this.projectService.isProjectGenerating" class="loader"></div>
  </button>
</div>
