body {
  margin: 0;
  font-family: "IBM Plex Mono";
  background-color: #021e73;
}

button {
  color: black;
}

.icon {
  width: 2rem;
  padding-bottom: 0.35rem;
}

.invisible-button {
  padding: 0rem;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
